<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body style="background-color:rgb(243, 219, 166);">
    <h2>Search for Drinks...</h2>
        <div class="drink-input">
            <label>Search for a drink</label>
            <input type="text" placeholder="search for a drink" id="drinkname" value = ""/>
            <button id="drink-click">Add Drink To List</button>
            <!-- Script to send POST to the server using axios  -->
            <script>
                $('#drink-click').on("click", function() {
                    axios.post("/api/drinks", { drinkname: $('#drinkname').val() })
                    .then(() => {console.log("success")})
                    .catch(err => console.error(err));
                });
            </script>
        </div>
    <div class="drink-list">
        <h2 style="background-color:crimson;text-align:center;"><font color="white">List of Drinks to Try:</font></h2>
        <% for (let i = 0; i < dat.length; i++) {%>
            <h3 style="background-color:crimson;text-align:center;" class="drink-name"><font color="white"><%= dat[i].strDrink %></font></h3>
            <img src= <%= dat[i].strDrinkThumb %> width="25%" height="25%"></img>
            <% if (dat[i].strVideo !== null) {%>
                <iframe width="420" height="315" src=<%= 'https://www.youtube.com/embed/'+dat[i].strVideo.slice((dat[i].strVideo.indexOf('=') + 1)) %>></iframe>
            <% } %>
        <% } %>
    </div>
</body>
</html>